In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None)

In [3]:
data.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape','Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin','Normal Nucleoli', 'Mitoses','Class']
data

,Sample code,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
data=data.drop(['Sample code'],axis=1)

In [5]:
data.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [6]:
predictors = ['Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape', 'Marginal Adhesion','Single Epithelial Cell Size','Bland Chromatin','Normal Nucleoli','Mitoses']
features= data[predictors]
target=data.Class

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test, y_train, y_test = train_test_split(features,target, test_size=0.15,random_state=0)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
cancer = LogisticRegression()
cancer.fit(X_train,y_train)
prediction = cancer.predict(X_test)

In [11]:
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(y_test, prediction)
print("Accuracy is :",100 *(round(metrics.accuracy_score(y_test,prediction),2)),"%")

Accuracy is : 96.0 %

In [ ]:
import numpy as np
input_data = (1,1,3,2,1,3,1,1)
input_array = np.asarray(input_data)
data_reshaped = input_array.reshape(1,-1)

prediction = cancer.predict(data_reshaped)
print(prediction)

In [ ]:
from tkinter import *
from tkinter import messagebox

root=Tk()
root.withdraw()

if (prediction[0]== 2):
    messagebox.showinfo("Result", "The Person does not have a Heart Disease")
  
else:
  messagebox.showinfo("Result", "The Person have a Heart Disease")


root.mainloop()